:root {
    --main-border: 1rem;
}

html {
    position: absolute;
    top: 0;
    left: 50%;
    height: calc(100vh - var(--main-border) * 2);
    width: calc(100vh - var(--main-border) * 2);
    background-color: transparent;
    border: solid var(--main-border) tomato;
    border-radius: 50%;
    transform: translate(-50%,0);
}

.focus {
    animation: focus 1s ease-in 1 forwards;
}

@keyframes focus  {
    0% {
        box-shadow: 0 0 0 0 tomato inset;
    }
    50% {
        box-shadow: 0 0 0 calc( (100vh - var(--main-border)) / 2 ) tomato inset;
    }
    100% {
        box-shadow: 0 0 0 0 tomato inset;
    }
}